@import "variables.scss";

.nav {
	background-color: $color-nav;
	height: 50px;
	font-size: 1.2rem;
	color: white;
	padding: 0 12px 0 12px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 2px 8px #44444477;
	justify-content: space-between;
}
.nav__button-container {
	display: flex;
}

.nav__title {
	font-family: "Pacifico", cursive;
	background: rgb(131, 58, 180);
	background: linear-gradient(
		30deg,
		rgb(179, 98, 233) 10%,
		rgb(248, 28, 28) 50%,
		rgba(252, 176, 69, 1) 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-self: center;
	font-size: 34px;
	padding: 0px 6px 0px 6px;
}
