@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
	background-color: #eee;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}
