//colors
$color-gunmetal: #292f36ff;
$color-medium-turquoise: #4ecdc4ff;
$color-white: #ffffffff;
$color-bittersweet: #ff6b6bff;
$color-ultramarine-blue: rgb(41, 91, 255);
$color-nav: hsl(0, 0%, 18%);
$color-title: hsl(0, 0%, 87%);
